<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>565555428292-kdl78g927g5mgb7h6btf511su75cpefv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565555428292-kdl78g927g5mgb7h6btf511su75cpefv</string>
	<key>API_KEY</key>
	<string>AIzaSyA3tKfavyX21F3iDlbV3od7on9hM6OVBT0</string>
	<key>GCM_SENDER_ID</key>
	<string>565555428292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ranosys.DelamiEcommerceApp</string>
	<key>PROJECT_ID</key>
	<string>delami-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>delami-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565555428292:ios:f1f60f113b94fa78</string>
	<key>DATABASE_URL</key>
	<string>https://delami-notification.firebaseio.com</string>
</dict>
</plist>